/* General Page Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(206, 178, 178); /* soft food theme background */
  margin: 0;
  padding: 0;
  color: black;
  line-height: 1.9;
}

/* Center the whole page */
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}


/* For Header  */
h1 {
  text-align: center;
  color: black; /* jollof orange */
  font-size: 2.2rem;
}
h2 {
  color: rgb(6, 6, 6); 
  border-left: 5px solid #bf7544;
  padding-left: 10px;
}

/* Section Styling  */
section {
  background: rgb(202, 185, 185);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #f0c9a8;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.05);
}

/* Lists */
ul, ol {
  margin-left: 20px;
}

li {
  margin-bottom: 8px;
}

 /* Image Styling */
img {
  width: 240px;
  height: 190px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #2c1706;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.02); /* small zoom effect */
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 15px;
  color: #16271c5a;
}